<app-header></app-header>
<div class="container-fluid">
<div class="section1">
   <div class="head1" align="left">
    <h5>Choose a flight</h5>
   </div> 
   <div class="head2" style="padding-right: 10px;" align=right>
       <p>FRA-LOND, LOND-FRA<br>
       dec 13 - dec 21 . Adult</p>
   </div>
   <button class="btn-edit btn btn-light" (click)="open(content)">Edit search</button>
</div>
<div class="container">
<div class="filter">
<h6>Travel Policy</h6>
<form>
    <div class="checkbox">
      <label><input type="checkbox" value=""><span class="checkmark"></span>only show "in policy" flight</label>
    </div>
  </form><br>
  <h6>Stops</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value=""><span class="checkmark"></span>Direct only</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Up to 1 stop</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Any</label>
    </div>
  </form><br>
  <h6>Cabin class</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value=""><span class="checkmark"></span>Direct only</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Up to 1 stop</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Any</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Any</label>
    </div>
  </form><br>
  <h6>Travel time</h6><br>
  <h6>Departure time from Frankfurt Main</h6>
  <input type="range" min="1" max="100" class="slider" id="myRange">
  <p><span id="demo"></span></p><br>
  <h6>Departure time from London</h6>
  <input type="range" min="1" max="100" class="slider" id="myRange">
  <p><span id="demo"></span></p><br>
  <h6>Flight duration</h6>
  <input type="range" min="1" max="100" class="slider" id="myRange">
  <p><span id="demo"></span></p><br>
  <h6>Airports</h6>
<form>
    <div class="checkbox">
      <label><input type="checkbox" value=""><span class="checkmark"></span>Depart and return from same airport</label>
    </div>
  </form><br>
  <h6>Frankfurt airports</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value=""><span class="checkmark"></span>FRA - Frankfurt Main</label>
    </div>
  </form><br>
  <h6>London airports</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value=""><span class="checkmark"></span>STN - London Stansted</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>LHR - London Heathrow</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>LCY - London City</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>LGW - London Gatwick</label>
    </div>
  </form><br>
  <h6>Baggage</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value=""><span class="checkmark"></span>Only show flights with checked baggage included</label>
    </div>
  </form>
</div>
<div class="item-list" style="width: 100%;">
<div *ngFor="let a of flight.body.message.docs">
    <div style="padding-bottom: 20px; display: flex;">
        <div style=" width:60%;">
            <ul class="list-group">
              <li class="flex-container list-group-item">
                <img src="{{a.airline.image}}" style="height: 20px; width:20px"/>
                <div class="date">19:20-21:55 LHR-FRA<br>
                    <p class="message">{{a.airline.name}} . {{a.class}}</p>
                </div>
                <div>
                    1h 35m
                    <p style="color: green;">Direct</p>
                </div>
                <div class="bag">
                    Carry-on bag included
                </div>
            </li>


            <li class="flex-container list-group-item">
              <img src="{{a.airline.image}}" style="height: 20px; width:20px"/>
              <div class="date">19:20-21:55 LHR-FRA<br>
                  <p class="message">{{a.airline.name}} . {{a.class}}</p>
              </div>
              <div>
                  1h 35m
                  <p style="color: green;">Direct</p>
              </div>
              <div class="bag">
                  Carry-on bag included
              </div>
          </li>
              </ul>
              
        </div>
        <div class="select">
          <p>From<br>
          {{a.price}}/Adult</p>
          <button routerLink="/user/booking/flight/{{a._id}}" class="btn-select btn btn-success">SELECT</button>
      </div>
       
    </div>
    
</div>
</div>
</div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form >
            <div style="display: flex;">
                <input type="text" class="form-control" placeholder="from"/>
                <input type="text" class="form-control" placeholder="to"/>
            </div>
            <div style="display: flex;">
                <input type="date" class="form-control"/>
                <select class="form-control" id="inlineFormCustomSelect">
                    <option selected>Select</option>
                    <option value="1">Economy</option>
                    <option value="2">First Class</option>
                    <option value="3">Second Class</option>
                  </select>
            </div>
            <button (click)="modal.dismiss('Cross click')" class="btn btn-success">SEARCH</button>
        </form>
    </div>

  </ng-template>