.container{
    display: flex;
}

.container-fluid {
    margin-top: 100px;
    font-weight: normal;
}

.item-list {
    margin-left: 50px
}

.head1 {
    margin-left: 110px;
    margin-top: 10px;
}

.head1 h5 {
    font-weight: bold;
}

.head2 {
    margin-top: -30px;
    margin-right: 300px;
}

.btn-edit {
    float: right;
    color: green;
    border: 1px solid rgb(236, 225, 225);
    background-color: transparent;
    margin-top: -60px;
    margin-right: 150px;
}

.section1 {
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(236, 225, 225);
    height: 70px;
}

.select {
    border: 1px solid rgb(236, 225, 225);
    text-align: center;
    width: 200px;
}

.select p {
    font-weight: bold;
    margin-top: 110px;
}


.btn-select {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 150px;
    height: 45px;
    background-color: green;
}

.filter label {
    font-size: 11.5px;
}

.slider {
    -webkit-appearance: none;
    width: 350px;
    height: 1px;
    border-radius: 5px;
    background: green;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid green;
    background: white;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid green;
    background: white;
    cursor: pointer;
  }
  