.container{
    display: flex;
}

.container-fluid {
    margin-top: 100px;
    font-weight: normal;
}

.item-list {
    margin-left: 50px
}

.head1 {
    margin-left: 110px;
    margin-top: 10px;
}

.head1 h5 {
    font-weight: bold;
}

.head2 {
    margin-top: -30px;
    margin-right: 300px;
}

.btn-edit {
    float: right;
    color: green;
    border: 1px solid rgb(236, 225, 225);
    background-color: transparent;
    margin-top: -60px;
    margin-right: 150px;
}

.section1 {
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(236, 225, 225);
    height: 70px;
}

.select {
    border: 1px solid rgb(236, 225, 225);
    text-align: center;
    width: 200px;
}

.select p {
    font-weight: bold;
    margin-top: 110px;
}


.btn-select {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 150px;
    height: 45px;
    background-color: green;
}

.filter label {
    font-size: 11.5px;
}

.slider {
    -webkit-appearance: none;
    width: 350px;
    height: 1px;
    border-radius: 5px;
    background: green;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid green;
    background: white;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid green;
    background: white;
    cursor: pointer;
  }

  .btn-success {
      background-color: green;
  }
  
  label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 11.5px;
  }
  
  /* Hide the browser's default checkbox */
  label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid green;
  }
  
  /* On mouse-over, add a grey background color */
  label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  label input:checked ~ .checkmark {
    background-color: green;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  label .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }