<!-- Footer -->
<footer class="page-footer font-small footer mdb-color lighten-3 pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4" style="color: rgb(18, 41, 18)">.</h5>
          <img src="../../../../assets/images/Logo 1.png" style="width: 100%; height: 40px; margin-left: 50px;">
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
          <!-- Links -->
          <h5 class="custom-font font-weight-bold text-uppercase mb-4">Sprintrip</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">About</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Privacy Policy</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Help</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4" style="color: rgb(18, 41, 18)">.</h5>
  
        <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">About</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Privacy Policy</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Help</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
  
          <!-- Facebook -->
          <a type="button" class="btn-floating btn-fb">
            <i class="fa fa-facebook" style="width: 36px;"></i>
          </a><br>
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-tw">
            <i class="fa fa-twitter" style="width: 36px;"></i>
          </a><br>
          <!-- Google +-->
          <a type="button" class="btn-floating btn-gplus">
            <i class="fa fa-google-plus" style="width: 36px;"></i>
          </a><br>
          <!-- Dribbble -->
          <a type="button" class="btn-floating btn-dribbble">
            <i class="fa fa-dribbble" style="width: 36px;"></i>
          </a><br>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
      <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright
      <a href="#"> Sprintrip</a>
    </div>
    <!-- Copyright -->
    </div>
    <!-- Footer Links -->
    <div class="active-cyan-4 text-center mb-4">
      <label class="label" for="umail">Subscribe for news update, special offers and more</label><br>
      <div class="flex-container">
      <div><input class="form-control" type="email" id="umail" placeholder="Your email address" aria-label="Search"></div>
      <div><button type="submit" class="btn-sub btn">SUBSCRIBE</button></div>
      </div>
    </div>      

  
  </footer>
  <!-- Footer -->