a{
    padding-left: 20px;
    color:black;
}
.active{
    color:rgb(92, 151, 92);
}

.container {
    margin-top: 120px;
}

.container h1{
    color: green;
    margin-left: 20px;
}

.navigation {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-submit {
    background-color: green;
    height: 50px;
    border: 1px solid green;
    float: right;
    margin-left: 430px;
    margin-top: -10px;
}
