<div>
    <div *ngIf="trips.body.message.docs >0" class="container">
        <div align="center">
            <div *ngIf="spin" class="spinner-grow" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
      <div class="row">
        <div *ngFor="let a of trips.body.message.docs| paginate: {id:'travel_now', itemsPerPage: 15, currentPage: p, totalItems: trips.body.message.total}" class="col-lg-4">
          <div class="card card-20201">
            
            <div class="card-body">
              <h5 class="card-title">{{a.type}} </h5>
                <small>Start: {{a.start_date| date: 'dd/MM/yyyy'}} end :{{a.end_date| date: 'dd/MM/yyyy'}}</small>
                <p>Duration:{{a.duration}}</p> 
                <p>Price:$ {{a.price| number}}</p>
                <p *ngIf="a.pending == true">Status: <span style="color:greenyellow;">pending</span></p>
                <div *ngIf="a.declined == true">
                    <p style="color:red;">trip declined</p>
                </div>
                <div *ngIf="a.declined == false&& a.pending==false">
                    <p style="color:green;">trip approved</p>
                </div>
            </div>
          </div>
        </div>   
      </div>
      <br/>
      <div align="center"><pagination-controls id="travel_now"  (pageChange)="p = $event; paginate($event)"></pagination-controls></div> 
    </div>
    <div *ngIf="trips.body.message.docs < 1">
        You have no trips now
    </div>
  </div>