.container {
    font-weight: bold;
    background-color: rgb(139, 236, 139);
    margin-top: -10px;
    height: 60vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.85;
}

ul{
    display: flex;
    padding-top: 30px;
}
li{
    list-style: none;
    padding-left: 20px;
}

.col-auto {
    margin: 10px 50px 50px 80px;
}

.input-group-text {
    background-color: white;
    border-right: white;
}

.nav1 {
    margin-top: 50px;
    opacity: 0.85;
    z-index: 7;
}

.form-control {
    width: 360px;
    height: 50px;
    border-radius: 0px;
}

.form1 {
    width: 395px;
}

 .flex-container {
     display: flex;
     float: right
 }

 .flex-element {
     margin: 10px 35px 0 0;
  }

  .btn-submit {
    width: 150px;
    height: 50px;
    border-radius: 7px;
    background-color: green;
    color: white;
    border: 1px solid green;
  }

  label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
  }
  
  /* Hide the browser's default checkbox */
  label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid green;
  }
  
  /* On mouse-over, add a grey background color */
  label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  label input:checked ~ .checkmark {
    background-color: green;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  label .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }