.container {
    background-color: rgb(139, 236, 139);
    margin-top: -10px;
    height: 60vh;
    border-radius: 10px
}

ul{
    display: flex;
    padding-top: 30px;
}
li{
    list-style: none;
    padding-left: 20px;
}

.col-auto {
    margin: 10px 50px 50px 80px;
}

.input-group-text {
    background-color: white;
    border-right: white;
}

.nav1 {
    margin-top: 50px;
}

.form-control {
    width: 360px;
    height: 50px;
}

.form1 {
    width: 395px
}

 .flex-container {
     display: flex;
     float: right
 }

 .flex-element {
     margin: 10px 35px 0 0;
  }

  .btn-submit {
    width: 150px;
    height: 50px;
    border-radius: 7px;
    background-color: green;
    color: white;
    border: 1px solid green;
  }