<app-header></app-header>
<div class="main-container">
<img src="../../../../../assets/images/chicago_skyline_night-wallpaper-1280x1024.jpg" style="height: 100%;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: fixed;
top:0;
left:0;
right:0">
<div class="nav1"><app-navigation></app-navigation></div>
<div class="container">
           <div>
            <ul>
                <li>Round-trip</li>
                <li >One-way</li>
                <li >Multi-city</li>
            </ul>

            <form>
                <div class="form-row">
                 
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">From</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-plane fa-rotate-90"></i></div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="From">
                    </div>
                  </div>

                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">To</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-plane"></i></div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="To">
                    </div>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                      <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                    </div>
                  </div>

                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2">
                      <select class="form1 form-control" id="inlineFormCustomSelect">
                        <option value="1">Economy</option>
                        <option value="2">First Class</option>
                        <option value="3">Second Class</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="flex-container">
                <div class="flex-element">
                    <div class="custom-control custom-checkbox mr-sm-2 checkbox">
                      <label for="customControlAutosizing"><input type="checkbox" id="customControlAutosizing"><span class="checkmark"></span>Direct Flight Only</label>
                    </div>
                  </div>
                  <div>
                    <button (click)="search()" type="submit" class="btn-submit btn btn-success mb-2">Book Now</button>
                  </div>
                </div>
              </form>
    </div>
    
</div>
</div>