.container {
    margin-top: 120px;
}

.container h1 {
    color: green;
    margin-left: 0px;
}

.active{
    background-color: lightgreen;
}
a{
    height: 70px;
    background-color: lightgrey;
    text-decoration: none;
    color: rgb(63, 59, 59);
    line-height: 70px;
    padding-right: 30px;
    padding-left: 20px;
}

.section {
    margin-top: 30px;
}