<app-header></app-header>
<div class="container-fluid">
    <div class="section1">
       <div class="head1" align="left">
        <h5>Choose a Airbnb</h5>
       </div> 
       <div class="head2" style="padding-right: 10px;" align=right>
           <p>FRA-LOND, LOND-FRA<br>
           dec 13 - dec 21 . Adult</p>
       </div>
       <button class="btn-edit btn btn-light" (click)="open(content)">Edit search</button>
    </div>

 <div class="container">
    <div style="width:30%;">
        <h6>Brand</h6>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-search" style="color: green; font-size: 24px"></i></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="filter by brand name">
          </div><br>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value=""><span class="checkmark"></span>1-2 nights</label>
              <label><input type="checkbox" value=""><span class="checkmark"></span>3-5 nights</label>
              <label><input type="checkbox" value=""><span class="checkmark"></span>6-9 nights</label>
              <label><input type="checkbox" value=""><span class="checkmark"></span>10-14 nights</label>
            </div>
          </form><br><br>
    </div>
    <div class="main-div" style="width: 70%;">
        <div *ngFor="let a of airbnb.body.message.docs">
            <div style="padding-bottom: 20px; display: flex;">
                <div style=" width:90%;">
                    <ul class="list-group">
                        <li class="list-group-item flex-container">
                            <div class="image">
                                <img src="https://u.realgeeks.media/siliconbeachhomesinla/AdobeStock_164629068.jpeg" style="height: 200px; width:200px"/>
                                <p style="color: green;">Free cancellation<br>
                                free wifi</p>
                            </div>
                            <div class="location">
                                <h5>266 Pope Road</h5>
                                <p>2 Avenue Of The Americas, 2 10013 New York</p>
                               <li>2 Beds</li>
                               <li>1 Bath</li>
                               <li>1000 Sqft</li>
                            </div>
                            <div class="pricing">
                               Total price for a month <h4>$899</h4>
                                <button routerLink="/user/booking/airbnb/{{a._id}}" class="btn-available btn btn-success">Select</button>
                            </div>
                        </li>
                    </ul>  
                </div>    
            </div> 
        </div>
    </div>
    </div>
    </div>

 <ng-template #content let-modal>
    <div class="modal-header">
      
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form >
            <div style="display: flex;">
                <input type="text" class="form-control" placeholder="Address, City, Zip"/>
                <input type="number" class="form-control" placeholder="number of beds"/>
            </div>
            <div style="display: flex;">
                <input type="date" class="form-control" placeholder="check in"/>
                <input type="date" class="form-control" placeholder="check out"/>
               
            </div>
            <button (click)="modal.dismiss('Cross click')" class="btn btn-success">book</button>
        </form>
    </div>
  </ng-template>