<app-header></app-header>
<div class="nav1"><app-navigation></app-navigation></div>
<div class="container">
    <div class="options">
        <p>Personal Assistant &nbsp;&nbsp;  | &nbsp;&nbsp;  Concierge &nbsp;&nbsp;  |  &nbsp;&nbsp; Intepreter &nbsp;&nbsp;  |  &nbsp;&nbsp; Content writer &nbsp;&nbsp;  | &nbsp;&nbsp;  Leadership Coach &nbsp;&nbsp;  | &nbsp;&nbsp;  Consultant &nbsp;&nbsp;  | &nbsp;&nbsp;  Graphics Designer &nbsp;&nbsp;  | &nbsp;&nbsp;  Audio & Visual assistance</p>
    </div>
    <form>
        <label>Please give short note what assistance you will require:</label><br>
        <textarea placeholder="Type your request here"></textarea>
        <button type="submit" class="btn-submit btn btn-success mb-2">Book Now</button>
    </form>
</div>