@media screen and (min-width: 768px){
.container {
    font-weight: bold;
    background-color: rgb(139, 236, 139);
    margin-top: -10px;
    height: 60vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.85;
}

.nav1 {
    margin-top: 50px;
    opacity: 0.85;
    z-index: 7;
}

.options {
    text-align: center;
    padding-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 40px;
    font-weight: normal;
    font-size: 15px;
}

textarea {
    width: 90%;
    height: 27vh;
    margin-left: 50px;
}

.btn-submit {
    width: 150px;
    height: 50px;
    border-radius: 7px;
    background-color: green;
    color: white;
    border: 1px solid green;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
  }

  .date-field {
      width: 300px;
      margin-left: 50px;
  }

.request-field {
    height: 17vh;
}
}

@media screen and (max-width: 768px){
    .container {
        font-weight: bold;
        background-color: rgb(139, 236, 139);
        margin-top: -10px;
        height: 55vh;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        opacity: 0.85;
        width: 85%;
        padding-left: 10px;
    }

    span {
        font-size: 12px;
    }

    .nav1 {
        margin-top: 50px;
        opacity: 0.85;
        z-index: 7;
    }

    .main-div {
        margin-top: 30px;
        font-size: 12px;
    }

    textarea {
        height: 140px;
    }

    .btn-submit {
        width: 150px;
        height: 50px;
        border-radius: 7px;
        background-color: green;
        color: white;
        border: 1px solid green;
        margin-left: 70px;
        margin-top: 10px;
        }
}