<app-header></app-header>
<div class="nav1"><app-navigation></app-navigation></div>
<div class="container">
        <form>
            <div class="form-row align-items-center">
             
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">From</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-map-marker fa-2x" style="color: black"></i></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="From">
                </div>
              </div>
               <div class="col-auto">
                <div class="input-group mb-2">
                  <div type="text" class="form-control" id="inlineFormInputGroup">
                      {{children}} Children {{room}} Room {{adult}} Adult
                  </div>
                </div>
                <!-- dont use button here for increment and decrement -->
                <span (click)="editChildrenCount(1)">+</span>  Children  <span (click)="editChildrenCount(-1)">-</span><br/>
                <span (click)="editRoomCount(1)">+</span>  Room  <span (click)="editRoomCount(-1)">-</span><br/>
                <span (click)="editAdultCount(1)">+</span>  Adult  <span (click)="editAdultCount(-1)">-</span>

              </div>
             
            </div>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">From</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                      </div>
                      <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                    </div>
                  </div>

              
            </div>

            
              <div>
                <button type="submit" class="btn-submit btn btn-success mb-2">Book Now</button>
              </div>
          </form>
</div>