li{
    list-style: none;
}

p {
    color: rgb(83, 81, 81);
}

.nav1 {
    margin-top: 50px;
}

.container {
    background-color: rgb(139, 236, 139);
    margin-top: -10px;
    height: 60vh;
    border-radius: 10px
}

.col-auto {
    margin: -10px 50px 0px 80px;
}

.input-group-text {
    background-color: white;
    border-right: white;
}

.form-control {
    width: 360px;
    height: 50px;
    border-radius: 0px;
}

.btn-submit {
    width: 150px;
    height: 50px;
    border-radius: 7px;
    background-color: green;
    color: white;
    border: 1px solid green;
    float: right;
    margin-right: 50px;
    margin-top: 30px
  }

  .multiple-dp {
      margin-top: 100px
  }

  .single-col {
      margin-top: -50px; 
  }

  .single-col-input {
      width: 350px;
  }

  span {
    color: rgb(83, 81, 81);
      width: 20px;
  }

  span:hover {
      cursor: pointer;
  }