<app-header></app-header>
<div class="nav1"><app-navigation></app-navigation></div>
<div class="container">
        <form>
            <div class="form-row align-items-center">
             
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">From</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-map-marker" style="color: black; font-size: 24px"></i></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="From">
                </div>
              </div>
               <div class="multiple-dp col-auto">
                <div class="input-group mb-2">
                  <div class="input-group-text"><i class="fa fa-user" style="color: black; font-size: 24px"></i></div>
                  <div type="text" class="form-control" id="inlineFormInputGroup">
                      {{children}} Child {{room}} Room {{adult}} Adult
                  </div>
                </div>
                <!-- dont use button here for increment and decrement -->
                <p>Child&nbsp;&nbsp;&nbsp;<span (click)="editChildrenCount(1)">+</span>&nbsp;&nbsp;<span (click)="editChildrenCount(-1)">-</span></p>
                <p>Room&nbsp;&nbsp;<span (click)="editRoomCount(1)">+</span>&nbsp;&nbsp;<span (click)="editRoomCount(-1)">-</span></p>
                <p>Adult&nbsp;&nbsp;&nbsp;<span (click)="editAdultCount(1)">+</span>&nbsp;&nbsp;<span (click)="editAdultCount(-1)">-</span></p>
              </div>
             
            </div>
            <div class="form-row align-items-center">
                <div class="single-col col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">From</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-hotel" style="color: black; font-size: 24px;"></i></div>
                      </div>
                      <input type="date" class="single-col-input form-control" id="inlineFormInputGroup" placeholder="Username">
                    </div>
                  </div>
            </div>
              <div>
                <button type="submit" class="btn-submit btn btn-success mb-2">Book Now</button>
              </div>
          </form>
</div>