@media (min-width: 768px){
.first {
    font-family: 'Poppins', sans-serif;
    height: 130vh;
    width: 100%;
    background-color: rgb(0, 138, 23);
    color: white;
    text-align: center;
    text-transform: capitalize;
}

.text1 {
    padding-top: 150px;
    padding-left: 300px;
    padding-right: 300px;
    line-height: 30px;
}

.btn {
    margin: 30px 30px 30px 30px;
    width: 150px;
    height: 50px;
    border-radius: 7px;
}

.btn-demo {
    background-color: white;
    border-color: white;
    color: rgb(2, 53, 2);
}

.btn-demo:hover {
    background-color: thistle;
    border-color: thistle;
    color: rgb(2, 53, 2);
}

.btn-demo:active {
    background-color: white;
    border-color: white;
    color: rgb(2, 53, 2);
}

.btn-start {
    background-color: rgb(7, 102, 7);
    border-color: rgb(7, 102, 7);
}

.btn-start:hover {
    background-color: green;
    border-color: green;
}

.btn-bus {
    border-color: white;
    color: white;
    width: 220px;
    height: 55px;
    font-size: 1.2rem;
    margin-right: 110px;
}

.btn-ent {
    border-color: white;
    color: whitesmoke;
    width: 220px;
    height: 55px;
    font-size: 1.2rem;
    margin-left: 110px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.bus {
    margin-left: -100px;
}

.ent {
    margin-right: -100px;
}

.second {
    background-color: rgb(189, 189, 189);
    height: 70vh;
    margin-top: 50px;
}

.sec-t {
    padding-top: 50px;
    margin-left: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.sec-t2 {
    padding-top: 50px;
    margin-left: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
}

.flex-container2 {
    display: flex;
    justify-content: center;
} 

.com-logo {
    border: 1px solid rgb(39, 38, 38);
    border-radius: 7px;
    height: 100px;
    width:200px;
    margin: 50px 30px 30px 30px;
}
}

@media (max-width: 768px){
    .first {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        height: 230vh;
        background-color: rgb(0, 138, 23);
        color: white;
        text-align: center;
        text-transform: capitalize;
        padding-top: 200px;
    }

    .text1 {
        font-weight: normal;
        margin-left: 20px;
        margin-right: 20px;
    }

    .text1 h2{
        font-size: 2rem;
    }

    .text1 p {
        font-size: 1rem;
        margin-left: 100px;
        margin-right:100px;
    }

    .btn {
        margin: 30px 30px 30px 30px;
        width: 150px;
        height: 70px;
        border-radius: 7px;
        font-size: 1.3rem;
    }
    
    .btn-demo {
        background-color: white;
        border-color: white;
        color: rgb(2, 53, 2);
    }
    
    .btn-demo:hover {
        background-color: thistle;
        border-color: thistle;
        color: rgb(2, 53, 2);
    }
    
    .btn-demo:active {
        background-color: white;
        border-color: white;
        color: rgb(2, 53, 2);
    }
    
    .btn-start {
        background-color: rgb(7, 102, 7);
        border-color: rgb(7, 102, 7);
    }
    
    .btn-start:hover {
        background-color: green;
        border-color: green;
    }
    .btn-bus {
        border-color: white;
        color: white;
        width: 220px;
        height: 55px;
        font-size: 1.5rem;
    }
    
    .btn-ent {
        border-color: white;
        color: whitesmoke;
        width: 220px;
        height: 55px;
        font-size: 1.5rem;
    }
   
    .second {
        display: none;
    }
   
    app-footer {
        display: none;
    }
}

