<app-header></app-header>
<div style="padding-top: 10px;" class="container row">
    <div>
        <img src="{{user.body.message.pics}}">
    </div>&nbsp;&nbsp;
    <div>
        <h2>{{user.body.message.name}}</h2>
        <h5>{{user.body.message.email}}</h5>
        <div *ngIf="!showInviteUser"><button class="btn-account btn1 btn btn-light" (click)="open(content)">Edit account</button> </div>
        <div *ngIf="showInviteUser">
            <h5>Supervisor account</h5>
            {{invitedUser.body.message.name}}
            {{invitedUser.body.message.email}}
            Account limited:{{invitedUser.body.message.limit}}
            <div *ngIf="invitedUser.body.message.limit == 'Sometimes' ">{{invitedUser.body.message.limit_amount}}</div>
           <button class="btn1 btn btn-light" (click)="open(content2)">Edit Supervisor account</button>
        </div>
            <hr/>
            <h5>Security</h5>
            <p>Security is important to us, edit password if you feel your account has been compromised</p>
            <div  *ngIf="!showInviteUser">
                <button class="btn-password btn1 btn btn-light" (click)="open(content3)">Edit account password</button>
            </div>
            <div  *ngIf="showInviteUser">
                <button class="btn btn1 btn-light" (click)="open(content4)"> Edit supervisor password</button>
            </div>
            <hr/>
            <div>
                <!-- spinner while email sending is processing -->
                <div *ngIf="spin_request" class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                <button class="btn1 btn btn-success" (click)="requestBooking()">Request all booking as pdf</button>
            </div><br><br>
            <div *ngIf="!showInviteUser">
                <h5>Upload picture</h5>
                <div *ngIf="spin_pics" class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                <input (change)="setImage($event)" type="file" accept="image/*" class="form-control">
                <button class="btn-upload btn1 btn btn-light" (click)="uploadImg()">upload</button>
                <hr/>
                <button class="btn-delete btn1 btn-danger btn" (click)="open(content6)">Delete account</button><hr/>
                <button class="btn btn1 btn-light" (click)="open(content5)">Change account type</button>
            </div>
        </div>
</div>



<!-- edit main account modal -->
<ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div align="center" class="modal-body">
      <h3>Edit account</h3>
      <div align="center">
        <div *ngIf="spin" class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <form [formGroup]="EditMainForm" (ngSubmit)="editMainAccount()">
        <label>Name</label>
        <input formControlName="name" type="text" placeholder="input name" class="form-control">
        <label>Email</label>
        <input formControlName="email" type="email" placeholder="input email" class="form-control">
        <br/>
        <button class="btn btn-success" [disabled]="EditMainForm.invalid">Update</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>

  <!-- edit supervisor account -->
  <ng-template #content2 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div align="center" class="modal-body">
      <h3>Edit account</h3>
      <div align="center">
        <div *ngIf="spin" class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <form [formGroup]="EditSupervisorAccount" (ngSubmit)="editSupervisoracc()">
        <label>Name</label>
        <input formControlName="name" type="text" placeholder="input name" class="form-control">
       
        <br/>
        <button class="btn btn-success" [disabled]="EditSupervisorAccount.invalid">Update</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>

  <!-- edit main account password -->
  <ng-template #content3 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div align="center" class="modal-body">
      <h3>Edit Pasword</h3>
      <div align="center">
        <div *ngIf="spin" class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <form [formGroup]="EditMainPassword" (ngSubmit)="editMainpass()">
        <label>Current password</label>
        <input formControlName="old_password" type="password" placeholder="input current password" class="form-control">
        <label>New password</label>
        <input formControlName="password" type="password" placeholder="input new password" class="form-control">
        <br/>
        <button class="btn btn-success" [disabled]="EditMainPassword.invalid">Update</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>

  <!-- edit supervisor password -->
  <ng-template #content4 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div align="center" class="modal-body">
      <h3>Edit Pasword</h3>
      <div align="center">
        <div *ngIf="spin" class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <form [formGroup]="EditSupervisorPassword" (ngSubmit)="editSupervisorpass()">
        <label>Current password</label>
        <input formControlName="old_password" type="password" placeholder="input current password" class="form-control">
        <label>New password</label>
        <input formControlName="password" type="password" placeholder="input new password" class="form-control">
        <br/>
        <button class="btn btn-success" [disabled]="EditSupervisorPassword.invalid">Update</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>

  <!-- change account type -->
  <ng-template #content5 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div align="center" class="modal-body">
      <h3>Edit Pasword</h3>
      <div align="center">
        <div *ngIf="spin" class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <form [formGroup]="ChangeAccountType" (ngSubmit)="changeAcc()">
        <select formControlName="account_type" class="form-control" name="account_type">
            <option value="">Select Acc Type</option>
            <option value='Business'>Business</option>
            <option value='Personal'>Personal</option>
          </select>
        <button class="btn btn-success" [disabled]="ChangeAccountType.invalid">Change</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>


  <!-- delete account  -->
  <ng-template #content6 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div align="center" class="modal-body">
      <h3>Edit Password</h3>
      <div align="center">
        <div *ngIf="spin" class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <button class="btn btn-success" (click)="deleteAcc()">Yes</button>&nbsp;&nbsp;
        <button class="btn-no btn btn-light"(click)="modal.dismiss('Cross click')">No</button>
      </div>
         </div>
    <div class="modal-footer">
    </div>
  </ng-template>