@media screen and (min-width: 769px){
.container {
    margin-top: 100px;
    margin-left: 300px;
}

img {
    border-radius: 50%;
     height:100px; 
     width:90px; 
     margin-left: -100px;
}

.btn1 {
    color: green;
    float: right;
    background-color: transparent;
}

.btn1:hover {
    background-color: transparent;
    border: transparent;
}

p {
    color: rgb(209, 61, 61);
}

.form-control {
    width: 400px;
}

.btn-account {
    margin-top: -60px;
}

.btn-password {
    margin-top: -80px;
}

.btn-upload {
    margin-top: -40px;
}

.btn-delete {
    margin-top: 20px;
}

h3 {
    color: green;
}

.btn-no {
    border: 1px solid green;
    color: green;
    background-color: transparent;
}
}

@media screen and (max-width: 768px){
    .container {
        margin-top: 100px;
        margin-left: 0px;
    }

    h2, h5 {
        font-size: 14px;
    }

    p {
        font-size: 10px;
    }
    
    img {
        border-radius: 50%;
         height: 100px; 
         width: 90px; 
         margin-left: 300px;
    }
    
    .btn1 {
        color: green;
        float: right;
        background-color: transparent;
    }
    
    .btn1:hover {
        background-color: transparent;
        border: transparent;
    }
    
    p {
        color: rgb(209, 61, 61);
    }
    
    .form-control {
        width: 200px;
        font-size: 10px;
    }

    .btn {
        font-size: 10px;
    }
    
    .btn-account {
        margin-top: -60px;
    }
    
    .btn-password {
        margin-top: -80px;
    }
    
    .btn-upload {
        margin-top: -40px;
    }
    
    .btn-delete {
        margin-top: 20px;
    }
    
    h3 {
        color: green;
    }
    
    .btn-no {
        border: 1px solid green;
        color: green;
        background-color: transparent;
    }    
}