a{
    cursor: pointer;
    padding-left: 5px;
}

.main-container {
    margin-top: 150px;
}

.minor-container {
    margin-top: 50px;
}

h3 {
    font-weight: normal;
}

.price {
    font-size: 20px;
    color: green;
}