.form-row {
    margin-top: 70px;
    margin-left: 130px;
}

 h1 {
    color: green;
    margin-left: 200px;
}

.form-control {
    width: 200px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    margin-right: 100px;
}

.btn-filter {
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
}

.input {
    margin-top: -20px;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-invoice {
    color: white;
    background-color: green;
    border: 1px solid green;
    float: right;
    height: 50px;
    margin-right: 200px;
    border-radius: 7px;
} 

.btn-success {
    background-color: green;
}

.invoice-location {
    margin-top: 50px;
    margin-left: 300px;
}

.invoice-object {
    margin-right: 0px;
    margin-top: 50px;
}

