<app-header></app-header>
<div class="nav1"><app-navigation></app-navigation></div>
<div class="container">
    <div>
      <ul>
                <li>Round-trip</li>
                <li >One-way</li>
            </ul>
       <form>
        <div class="form-row align-items-center">
         
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-train" style="color: black; font-size: 24px;"></i></div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="From">
            </div>
          </div>

          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-train" style="color: black; font-size: 24px;"></i></div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="To">
            </div>
          </div>

        </div>
        <div class="form-row align-items-center">

            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-calendar" style="color: black; font-size: 24px;"></i></div>
                  </div>
                  <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Depart - Return">
                </div>
              </div>

              <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-clock-o" style="color: black; font-size: 24px;"></i></div>
                  </div>
                  <input type="" class="form-control" id="inlineFormInputGroup" placeholder="Departure Time">
                </div>
              </div>
        </div>
          <div>
            <button type="submit" class="btn-submit btn btn-success mb-2">Book Now</button>
          </div>
      </form>
    </div>
</div>