  <nav class="navbar navbar-custom navbar-expand-lg fixed-top">
    <div class="d-md-flex d-block flex-row mx-md-auto mx-0">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarNav">
       <i class="fa fa-bars" style="color: green; font-size: 32px;"></i>
      </button>

    <a  routerLink="/" style="color:white;" class="navbar-brand title">
      <img src="../../../../assets/images/Logo 1.png" class="logo" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item item1">
                <a routerLink="/user/booking/flight" routerLinkActive="active" class="nav-link">Book </a>
              </li>
              <li *ngIf="loggedIn" class="nav-item item1">
                <a routerLink="/user/trips/travellingnow" routerLinkActive="active" class="nav-link" >Trips</a>
              </li>
              <li *ngIf="loggedIn" class="nav-item item1">
                <a routerLink="/user/invoice" routerLinkActive="active" class="nav-link">Invoices</a>
              </li>
              
              <li *ngIf="loggedIn && user.account_type === 'Business' " class="nav-item item1">
                <a routerLink="/user/setting/group" routerLinkActive="active" class="nav-link" >Company Settings</a>
              </li>
              <li *ngIf="loggedIn" class="nav-item item1">
                <a routerLink="/user/reporting" routerLinkActive="active" class="nav-link">Reporting</a>
              </li>
              <li *ngIf="loggedIn" class="nav-item item1">
                <a routerLink="/user/payment" routerLinkActive="active" class="nav-link">Pay</a>
              </li>
              <li class="nav-item item1">
                <a routerLink="/user/help" routerLinkActive="active" class="nav-link" >Help</a>
              </li>
              <li *ngIf="loggedIn" class="nav-item item1 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{{user.pics}}" width="30"  class="d-inline-block align-top" height="30" alt="">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a style="color: black;" class="dropdown-item" routerLink="/user/profile">Profile</a>
                  <a class="dropdown-item"><small>{{user.name}}</small></a>
                  <div class="dropdown-divider"></div>
                  <a (click)="logout()" class="dropdown-item">Sign out</a>
                </div>
              </li>
              <li *ngIf="loggedOut" class="nav-item">
                <button class="btn-login btn"><a (click)="open(content)" class="nav-link">Login</a></button>
              </li>
              
        </ul>
    </div>
    </div>
  </nav>
  
  
  
  <!-- login modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div align="center" class="modal-body">
      <div align="center">
        <div *ngIf="spin" class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <form [formGroup]="LoginForm" (ngSubmit)="AccLogin()">
        <input formControlName="email" type="email" placeholder="Email" class="form-control"><br>
        <input formControlName="password" type="password" placeholder="Password" class="form-control">
        <br/>
        <button class="btn-login2 btn" [disabled]="LoginForm.invalid">Login</button>
      </form><br>
      <div align="center">
        <p class="text">login with</p>
        <a (click)="login_google(); modal.dismiss('Cross click')"><img src="assets/images/google.png" width="30" height="30"></a>
    </div><br><br>
     <p>New User? <a class="text" (click)="open(content2); modal.dismiss('Cross click')">Sign up</a></p>
    </div>
  </ng-template>


  <!-- sign up modal -->
  <ng-template class="modal" #content2 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Sign up</h3>
      <ngb-tabset [destroyOnHide]="false">
        <ngb-tab title="Personal account">
          <ng-template ngbTabContent>
            <div align="center">
              <div *ngIf="spin" class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
           
           <form [formGroup]="UserAccForm" (ngSubmit)="AddPersonalAcc()">
             <input formControlName="name" type="text" class="move-right form-control" placeholder="Enter Name"><br>
             <input formControlName="email" type="email" class="move-right form-control" placeholder="Enter a valid email"><br>
             <input formControlName="password" type="password" class="move-right form-control" placeholder="Enter a password(min of 6 characters)"><br>
             <input formControlName="confirm_password" type="password" class="move-right form-control" placeholder="Confirm password">
             <br/>
             <button [disabled]="UserAccForm.invalid" class="move-right btn-login2 btn">Create</button>
           </form><br>
           <div align="center">
            <p>Signup using</p>
            <a (click)="login_google(); modal.dismiss('Cross click')"><img src="assets/images/google.png" width="30" height="30"></a>
        </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Business account</ng-template>
          <ng-template ngbTabContent>
            <div align="center">
              <div *ngIf="spin" class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
           
            <form [formGroup]="BusinessAccForm" (ngSubmit)="AddBusinessAcc()">
              <input formControlName="name" type="text" class="move-right form-control" placeholder="Enter Name"><br>
              <input formControlName="email" type="email" class="move-right form-control" placeholder="Enter a valid Business email"><br>
              <input formControlName="password" type="password" class="move-right form-control" placeholder="Enter a password(min of 6 characters)"><br>
              <input formControlName="confirm_password" type="password" class="move-right form-control" placeholder="Confirm password">
             <br/>
              <button [disabled]="BusinessAccForm.invalid" class="move-right btn-login2 btn">Create</button>
            </form>
           
          </ng-template>
        </ngb-tab>
       
      </ngb-tabset>
      <br>
     <p>Already have an account? <a (click)="open(content); modal.dismiss('Cross click')">Log in</a></p>
    </div>
  </ng-template>
  