  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand title" href="#">
        <img src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" width="30"  class="d-inline-block align-top" height="30" alt="">
          Sprintrip
      </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="/user/booking/flight" routerLinkActive="active" class="nav-link">Home </a>
              </li>
              <li class="nav-item">
                <a routerLink="/user/trips/travellingnow" routerLinkActive="active" class="nav-link" href="#">Trips</a>
              </li>
              <li class="nav-item">
                <a routerLink="/user/invoice" routerLinkActive="active" class="nav-link" href="#">Invoices</a>
              </li>
              <li class="nav-item">
                <a routerLink="/user/setting" routerLinkActive="active" class="nav-link" href="#">Settings</a>
              </li>
              <li class="nav-item">
                <a routerLink="/user/reporting" routerLinkActive="active" class="nav-link" href="#">Reporting</a>
              </li>
              <li class="nav-item">
                <a routerLink="/user/payment" routerLinkActive="active" class="nav-link" href="#">Pay</a>
              </li>
              <li class="nav-item">
                <a routerLink="/user/help" routerLinkActive="active" class="nav-link" href="#">Help</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLinkActive="active" routerLink="/user/profile">Profile</a>
                  <a class="dropdown-item"><small>email@gmail.com</small></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">Sign out</a>
                </div>
              </li>
              <li class="nav-item">
                <a (click)="open(content)" class="nav-link" href="#">Login</a>
              </li>
              
        </ul>
    </div>
  </nav>
  
  
  
  <!-- login modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div align="center" class="modal-body">
     Login here

     <small (click)="open(content2); modal.dismiss('Cross click')">Sign up here</small>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>


  <!-- sign up modal -->
  <ng-template #content2 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div align="center" class="modal-body">
    Sign up here

     <small (click)="open(content); modal.dismiss('Cross click')">Log in</small>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>