<app-header></app-header>
<div class="container-fluid">
    <div class="section1">
       <div class="head1" align="left">
        <h5>Choose a hotel</h5>
       </div> 
       <div class="head2" style="padding-right: 10px;" align=right>
           <p>FRA-LOND, LOND-FRA<br>
           dec 13 - dec 21 . Adult</p>
       </div>
       <button class="btn-edit btn btn-light" (click)="open(content)">Edit search</button>
    </div>
    <div class="container">
<div style="width:30%;">
    <h6>Hotel name</h6>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search" style="color: green; font-size: 24px"></i></div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="filter by hotel name">
      </div><br>
      <h6>Work trip essentials</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value="">Free cancellation</label><br>
      <label><input type="checkbox" value="">Breakfast included</label><br>
    </div>
  </form><br><br>
  <h6>Popular amenities</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value="">Free wifi</label><br>
      <label><input type="checkbox" value="">Air conditioning</label><br>
      <label><input type="checkbox" value="">24-hour check-in</label><br>
      <label><input type="checkbox" value="">Airport shuttle</label><br>
      <label><input type="checkbox" value="">Gym</label><br>
      <label><input type="checkbox" value="">Parking</label><br>
      <label><input type="checkbox" value="">Pool</label><br>
      <label><input type="checkbox" value="">Restaurant</label><br>
      <label><input type="checkbox" value="">Spa</label><br>
      <label><input type="checkbox" value="">Wheelchair accessible</label><br>
    </div>
  </form><br><br>
  <h6>Exclusive to Sohosale</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value="">Show only "in policy"</label><br>
      <label><input type="checkbox" value="">Booked by my colleague</label><br>
      <label><input type="checkbox" value="">Discounted rate</label>
    </div>
  </form><br>
  <h6>Star rating</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value=""></label><br>
      <label><input type="checkbox" value=""></label><br>
      <label><input type="checkbox" value=""></label><br>
      <label><input type="checkbox" value=""></label><br>
      <label><input type="checkbox" value=""></label><br>
      <label><input type="checkbox" value="">Not rated</label><br>
    </div>
  </form><br><br>
  <h6>Price (per room, per night)</h6>
  <input type="range" min="1" max="100" class="slider" id="myRange">
  <p><span id="demo"></span></p><br><br>
  <h6>Review score</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value="">Exceptional: 9.5+</label><br>
      <label><input type="checkbox" value="">Wonderful: 9+</label><br>
      <label><input type="checkbox" value="">Excellent: 8.5+</label><br>
      <label><input type="checkbox" value="">Very good: 8+</label><br>
      <label><input type="checkbox" value="">Good: 7.5+</label><br>
      <label><input type="checkbox" value="">Pleasant: 0-7</label><br>
    </div>
  </form><br>
  <h6>Accommodation type</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value="">Aparthotel</label><br>
      <label><input type="checkbox" value="">Apartment</label><br>
      <label><input type="checkbox" value="">Bed & Breakfast</label><br>
      <label><input type="checkbox" value="">Condo Hotel</label><br>
      <label><input type="checkbox" value="">Guest House</label><br>
      <label><input type="checkbox" value="">Hostel</label><br>
      <label><input type="checkbox" value="">Hotel</label><br>
      <label><input type="checkbox" value="">Lodge</label><br>
      <label><input type="checkbox" value="">Motel</label><br>
      <label><input type="checkbox" value="">Other</label><br>
      <label><input type="checkbox" value="">Residence</label><br>
      <label><input type="checkbox" value="">Vacation Homes</label>
    </div>
  </form>
</div>
<div class="main-div" style="width: 70%;">
    <div *ngFor="let a of hotels.body.message.docs">
        <div style="padding-bottom: 20px; display: flex;">
            <div style=" width:90%;">
                <ul class="list-group">
                    <li class="list-group-item flex-container">
                        <div class="image">
                            <img src="{{return_img(a.images)}}" style="height: 200px; width:200px"/><br>
                            <p style="color: green;">Free cancellation<br>
                            free wifi</p>
                        </div>
                        <div class="location">
                            <h5>{{a.name}}</h5>
                            <p>{{a.location}}</p>
                            <ngb-rating [(rate)]="rate"></ngb-rating>
                            <p style="color: green;">only 5 rooms left!</p>
                        </div>
                         <div class="pricing">
                <p>Total price for 14 nights</p> <h4>$5,431.59</h4>
                <button routerLink="/user/booking/hotel/{{a._id}}" class="btn-available btn btn-success">see available rooms</button>
            </div>
                    </li>
                  </ul>
                  
            </div>
           
           
        </div>
        
    </div>
</div>
</div>
</div>





 <ng-template #content let-modal>
    <div class="modal-header">
      
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form >
            <div style="display: flex;">
                <input type="text" class="form-control" placeholder="from"/>
                <input type="date" class="form-control" placeholder="Check in"/>
            </div>
            <div style="display: flex;">
                <input type="date" class="form-control" placeholder="check out"/>
               
            </div>
            <button (click)="modal.dismiss('Cross click')" class="btn btn-success">SEARCH</button>
        </form>
    </div>
    
  </ng-template>