<div class="container">
  <button class="btn-add-group btn btn-success" (click)="open(content)">add group</button>
  <div align="center">
    <div *ngIf="spinner" class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    <div *ngIf="groups.body.message.docs.length < 1">
        There are no groups. Create now to proper manage employees in your comapny
    </div>
    <div *ngIf="groups.body.message.docs.length > 0">
        <div class="row">
            <div *ngFor="let a of groups.body.message.docs| paginate: {id:'group', itemsPerPage: 15, currentPage: p, totalItems: groups.body.message.total}" class="col-lg-4">
              <div class="card card-20201">
                
                <div class="card-body">
                  <h5 class="card-title">{{a.name}} </h5>
                  <button class="btn btn-success"(click)="selectGroup(a); open(content2)">Delete</button>&nbsp;&nbsp; <button class="btn btn-success" (click)="open(content3); selectGroup(a)">Edit</button>
                    <div class="row">
                        <div *ngFor="let b of a.employees | paginate: {id:a._id, itemsPerPage: 15, currentPage: p2}" class="col-lg-4">
                            {{b}} <button class="btn btn-success"(click)="deleteNameFromGroup(b, a)">delete</button>
                        </div>
                    </div>
                    <div align="center"><pagination-controls id="{{a._id}}"  (pageChange)="p2 = $event;"></pagination-controls></div> 
    
                </div>
              </div>
            </div>   
          </div>
          <br/>
          <div align="center"><pagination-controls id="group"  (pageChange)="p = $event; paginate($event)"></pagination-controls></div> 
        
    </div>
</div>



<!-- add new group modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div align="center" class="modal-body">
      <div *ngIf="spin" class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <h2>Add Group</h2>
        <form [formGroup]="addGroup" (ngSubmit)="addNewGroup();">
          <label>Name</label>
          <input formControlName="name" type="text" placeholder="name of group" class="form-control">
          <label>Employee name(s) (seperate names with comma)</label>
          <input formControlName="employees" type="text" placeholder="employee names" class="form-control">
          <button [disabled]="addGroup.invalid" class="btn btn-success">Submit</button>
        </form>
  </div>
</ng-template>



<!-- delte group modal -->
<ng-template #content2 let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div align="center" class="modal-body">
      <div *ngIf="spin" class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <h2>Are you sure you want to delete</h2>
       <button class="btn btn-success" (click)="modal.dismiss('Cross click')">No</button> <button class="btn btn-success" (click)="deleteGroup()">Yes</button>
  </div>
</ng-template>



<!-- group setting modal -->
<ng-template #content3 let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div align="center" class="modal-body">
      <div *ngIf="spin" class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <h2>Edit Group</h2>
        <form [formGroup]="editGroupName" (ngSubmit)="editGroup();">
          <label>Name</label>
          <input formControlName="name" type="text" placeholder="name of group" class="form-control">
          <button [disabled]="editGroupName.invalid" class="btn btn-success">Submit</button>
        </form>
        <hr/>
        <h3>Add new names to group</h3>
        <form [formGroup]="addNewEmployeeName" (ngSubmit)="addNameToGroup();">
          <label>Employee name(s) (seperate name by comma)</label>
          <input formControlName="employees" type="text" placeholder="name of group" class="form-control">
          <button [disabled]="addNewEmployeeName.invalid" class="btn btn-success">Add</button>
        </form>
        <hr/>
  </div>
</ng-template>