ul{
    display: flex;
    margin-bottom: 0rem;
}
li{
    list-style: none;
    padding-top: 25px;
    width: 40%;
    background-color: rgb(189, 185, 185);
    height: 80px;
}
a{
    color: black;
}

a:hover {
    cursor: pointer;
    color: white;
}

.navigation{
    width:86.4%;
    margin-right: 40px;
}

.active{
    background-color: rgb(139, 236, 139);
}