@media screen and (min-width: 768px){
ul{
    display: flex;
    margin-bottom: 0rem;
}
li{
    list-style: none;
    padding-top: 25px;
    width: 40%;
    background-color: rgb(189, 185, 185);
    height: 80px;
}
a{
    color: black;
}

a:hover {
    cursor: pointer;
    color: white;
}

i {
    display: none;
}

.navigation{
    width:87.47%;
    margin-right: 40px;
    font-weight: bold;
}

.active{
    background-color: rgb(139, 236, 139);
}
}

@media screen and (max-width: 768px) {
    ul{
        display: flex;
        margin-bottom: 0rem;
    }
    li{
        list-style: none;
        padding-top: 25px;
        width: 40%;
        background-color: rgb(189, 185, 185);
        height: 80px;
    }
    a{
        color: black;
        display: none;
    }
    
    a:hover {
        cursor: pointer;
        color: white;
    }
    
    .navigation{
        font-weight: bold;
    }

    .main {
        width: 100%;
    }
    
    .active{
        background-color: rgb(139, 236, 139);
    }    
}