<div style="padding-top: 50px; padding-bottom: 0px;" align="center">
    <div class="navigation">
        <ul>
            <li style="border-radius: 10px 0px 0px 0px;" routerLinkActive="active" routerLink="/user/booking/flight"><a >Flights</a></li>
            <li routerLinkActive="active" routerLink="/user/booking/hotel"><a >Hotels</a></li>
            <li routerLinkActive="active" routerLink="/user/booking/train"><a >Trains</a></li>
            <li routerLinkActive="active" routerLink="/user/booking/venue"><a >Venue</a></li>
            <li routerLinkActive="active" routerLink="/user/booking/car"><a >Car Rental</a></li>
            <li routerLinkActive="active" routerLink="/user/booking/cruise"><a >Cruise</a></li>
            <li routerLinkActive="active" routerLink="/user/booking/airbnb"><a >AirBnb</a></li>
            <li style="border-radius: 0px 10px 0px 0px;" routerLinkActive="active" routerLink="/user/booking/others"><a >Others</a></li>
    
        </ul>
    </div>
</div>
