<div style="padding-top: 50px; padding-bottom: 0px;" align="center">
    <div class="navigation">
        <ul>
            <li style="border-radius: 10px 0px 0px 0px;" routerLinkActive="active" routerLink="/user/booking/flight"><a >Flights</a><i class="fa fa-plane" style="color: black; font-size: 24px;"></i></li>
            <li routerLinkActive="active" routerLink="/user/booking/hotel"><a >Hotels</a><i class="fa fa-bed" style="color: black; font-size: 24px;"></i></li>
            <li routerLinkActive="active" routerLink="/user/booking/train"><a >Rails</a><i class="fa fa-train" style="color: black; font-size: 24px;"></i></li>
            <li routerLinkActive="active" routerLink="/user/booking/venue"><a >Venue</a><i class="fa fa-home" style="color: black; font-size: 24px;"></i></li>
            <li routerLinkActive="active" routerLink="/user/booking/car"><a >Car Rental</a><i class="fa fa-car" style="color: black; font-size: 24px;"></i></li>
            <li routerLinkActive="active" routerLink="/user/booking/cruise"><a >Cruise</a><i class="fa fa-ship" style="color: black; font-size: 24px;"></i></li>
            <li routerLinkActive="active" routerLink="/user/booking/airbnb"><a >AirBnb</a><i class="fa fa-home" style="color: black; font-size: 24px;"></i></li>
            <li style="border-radius: 0px 10px 0px 0px;" routerLinkActive="active" routerLink="/user/booking/others"><a >Others</a><i class="fa fa-user" style="color: black; font-size: 24px;"></i></li>
        </ul>
    </div>
</div>
