<app-header></app-header>
<img src="../../../../../assets/images/death_valley-wallpaper-1280x1024.jpg" style="height: 100%;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: fixed;
top:0;
left:0;
right:0">
<div class="nav1"><app-navigation></app-navigation></div>
<div class="container">
            <form>
                <div class="form-row">
                 
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">From</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-map-marker" style="color: black; font-size: 24px;"></i></div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Address, City, Zip">
                    </div>
                  </div>

                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">To</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar" style="color: black; font-size: 24px;"></i></div>
                      </div>
                      <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Check-In">
                    </div>
                  </div>
                </div>
                <div class="form-row align-items-center">
                  <div class="form1 col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-hotel" style="color: black; font-size: 24px;"></i></div>
                      </div>
                      <input type="number" class="form-1 form-control" id="inlineFormInputGroup" placeholder="Number of Beds">
                    </div>
                  </div>
                
                    <button (click)="search()" type="submit" class="btn-submit btn btn-success mb-2">Book Now</button>
              </div>
              </form>
    
</div>