<app-header></app-header>
<div class="container-fluid">
    <div class="section1">
       <div class="head1" align="left">
        <h5>Choose a cruise</h5>
       </div> 
       <div class="head2" style="padding-right: 10px;" align=right>
           <p>FRA-LOND, LOND-FRA<br>
           dec 13 - dec 21 . Adult</p>
       </div>
       <button class="btn-edit btn btn-light" (click)="open(content)">Edit search</button>
    </div>

 <div class="container">
    <div style="width:30%;">
        <h6>Cruise name</h6>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search" style="color: green; font-size: 24px"></i></div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="filter by cruise name">
      </div><br>
      <form>
        <div class="checkbox">
          <label><input type="checkbox" value=""><span class="checkmark"></span>1-2 nights</label>
          <label><input type="checkbox" value=""><span class="checkmark"></span>3-5 nights</label>
          <label><input type="checkbox" value=""><span class="checkmark"></span>6-9 nights</label>
          <label><input type="checkbox" value=""><span class="checkmark"></span>10-14 nights</label>
        </div>
      </form><br><br>
      <h6>Cruise lines</h6>
  <form>
    <div class="checkbox">
      <label><input type="checkbox" value=""><span class="checkmark"></span>Carnival Cruise Lines</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Celebrity Cruises</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Disney Cruise Lines</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Holland America Line</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>MSC Cruises</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Norwegian Cruise Lines</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Princess Cruises</label>
      <label><input type="checkbox" value=""><span class="checkmark"></span>Royal Carribean International</label>
    </div>
  </form><br>
  <h6>Star rating</h6>
  <form>
    <div class="checkbox">
          <label><input type="checkbox" value=""><span class="checkmark"></span></label>
          <label><input type="checkbox" value=""><span class="checkmark"></span></label>
          <label><input type="checkbox" value=""><span class="checkmark"></span></label>
          <label><input type="checkbox" value=""><span class="checkmark"></span></label>
          <label><input type="checkbox" value=""><span class="checkmark"></span></label>
          <label><input type="checkbox" value=""><span class="checkmark"></span>Not rated</label>
    </div>
  </form><br><br>
  <h6>Price</h6>
  <input type="range" min="1" max="100" class="slider" id="myRange">
  <p><span id="demo"></span></p><br><br>
    </div>
    <div class="main-div" style="width: 70%;">
        <div *ngFor="let a of cruise.body.message.docs">
            <div style="padding-bottom: 20px; display: flex;">
                <div style=" width:90%;">
                    <ul class="list-group">
                        <li class="list-group-item flex-container">
                            <div class="image">
                                <img src="https://i.insider.com/5cbf50dfd1a2f8074406a8b2?width=1136&format=jpeg" style="height: 200px; width:200px"/>
                                <p style="color: green;">Free cancellation</p>
                            </div>
                            <div class="location">
                                <h5>4 night Bahamas Cruise</h5>
                                <p>Departing from Port Canaveral, United States</p>
                                <ngb-rating [(rate)]="rate"></ngb-rating>
                                <p style="color: green">Dec 23, 2019</p>
                            </div>
                            <div class="pricing">
                              from <h4>$900</h4> per person
                                <button routerLink="/user/booking/cruise/{{a._id}}" class="btn-available btn btn-success">Select</button>
                            </div>
                        </li>
                    </ul>  
                </div>    
            </div> 
        </div>
    </div>
    </div>
    </div>

 <ng-template #content let-modal>
    <div class="modal-header">
      
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form >
            <div style="display: flex;">
                <input type="text" class="form-control" placeholder="destination"/>
                <input type="number" class="form-control" placeholder="number of adults"/>
            </div>
            <div style="display: flex;">
                <input type="number" class="form-control" placeholder="number of children"/>
                <input type="date" class="form-control" placeholder="daparture"/>
               
            </div>
            <button (click)="modal.dismiss('Cross click')" class="btn btn-success">book</button>
        </form>
    </div>
    
  </ng-template>