<app-header></app-header>
<div class="container">
    <div class="first-div" align="center">
        <ul class="list-group">
            <li class="flex-container list-group-item">
                <img src="{{flight.body.message.airline.image}}" style="height: 20px; width:20px"/>
                <div class="date">19:20-21:55 LHR-FRA<br>
                    <p class="message">{{flight.body.message.airline.name}} . {{flight.body.message.class}}</p>
                </div>
                <div>
                    1h 35m
                    <p style="color: green;">Direct</p>
                </div>
                <div class="bag">
                    Carry-on bag included
                </div>
            </li>
        
            <li class="flex-container list-group-item">
                <img src="{{flight.body.message.airline.image}}" style="height: 20px; width:20px"/>
                <div class="date">19:20-21:55 LHR-FRA
                    <p class="message">{{flight.body.message.airline.name}} . {{flight.body.message.class}}</p>
                </div>
                <div>
                    1h 35m
                    <p style="color: green;">Direct</p>
                </div>
                <div class="bag">
                    Carry-on bag included
                </div>
            </li>
          </ul>
    </div><br><br>

    <div class="main-div">
        <div class="column1">
            London - Milan<br><br>
            <h5>Basic Economy</h5>
            Economy
            <li style="color: green;">1 carry-on bag & personal item</li>
            <li>No checked bag include</li>
            <li>No free selection</li>
            <li>No priority boarding included</li>
            <li>Changes: Non-refundable</li>
            <li>Cancellation: Non-refundable</li>
        </div><br><br>
        <div class="column2">
            London - Milan<br><br>
            <h5>Basic Economy</h5>
            Economy
            <li style="color: green">1 carry-on bag & personal item</li>
            <li>No checked bag include</li>
            <li>No free selection</li>
            <li>No priority boarding included</li>
            <li>Changes: Non-refundable</li>
            <li>Cancellation: Non-refundable</li>
        </div>
    </div><br><br>

    <h1>{{flight.body.message.price}}</h1> <button (click)="open(content)" class="btn-book btn btn-success">Continue</button>
    <button (click)="open(content)" class="btn-mobile-book btn btn-success">{{flight.body.message.price}}</button>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div align="center">
            <div *ngIf="spin" class="spinner-grow" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        
        <form [formGroup]="booking_form" (ngSubmit)="addBooking()">
            <label>How many people are you booking for</label>
            <input formControlName="no_of_people" type="number" placeholder="how many people are you booking for">
           <div *ngIf="hide_group">
            <div *ngIf="!show_group">
                <select formControlName="group" class="form-control" name="channel">
                    <option value="">Select Group</option>
                    <option *ngFor='let element of groups.body.message.docs' [selected]="element === nameDevice" [value]="element._id">{{element.name}}</option>
                  </select>
            </div>
           </div>
            
            <button [disabled]="booking_form.invalid" class="btn btn-success">Book</button>
        </form>
    </div>
    
  </ng-template>